html {
    scroll-behavior: smooth;
}

header {
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 14%;
}

#mouse_click {
    position: absolute;
    top: 95%;
}

h1 {
    font-size: 60px;
}

.about {
    color: black;
    text-align: center;
    padding-top: 5%;
}